# =========================
# 🐍 Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc.*

# Virtual environment
venv/
.env/
.venv/

# =========================
# 📦 Packages / Builds
# =========================
build/
dist/
*.egg-info/

# =========================
# 🔥 PySpark / Data
# =========================
# spark-warehouse/
# metastore_db/
# *.parquet
# *.csv
# *.json

# =========================
# 💻 VS Code
# =========================
.vscode/

# =========================
# 🍺 macOS
# =========================
.DS_Store

# =========================
# 🔐 Secrets / Env files
# =========================
.env
.env.*

# =========================
# 🧪 Logs
# =========================
*.log

# =========================
# 📊 Jupyter (optional)
# =========================
.ipynb_checkpoints/